In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np

In [2]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage= requests.get('https://www.ambitionbox.com/list-of-companies?page=1',headers=headers).text

In [3]:
soup=BeautifulSoup(webpage,'lxml')      # lxml=HTML parcel is a python library for parsing,modifying,and extracting in formation from these doecuments types

In [4]:
#print(soup.prettify())     #pretify formats HTML properly to understand organised  webpage

In [5]:
soup.find_all('h1')[0].text.replace('\n',"").replace('\t',"")

'List of companies in India'

In [6]:
len(soup.find_all('h2'))

24

In [7]:
soup.find_all('h2')

[<h2 class="companyCardWrapper__companyName" title="TCS">
 										TCS
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Accenture">
 										Accenture
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Cognizant">
 										Cognizant
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Wipro">
 										Wipro
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Capgemini">
 										Capgemini
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="HDFC Bank">
 										HDFC Bank
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="ICICI Bank">
 										ICICI Bank
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Infosys">
 										Infosys
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="HCLTech">
 										HCLTech
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Tech Mahindra">
 										Tech Mahindra
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Genpact">
 										Genpact
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Axis Bank">
 										Axis Bank
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Teleperformance">
 										Teleperformance
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Concentrix Corporation">
 										Concentrix Corporation
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Jio">
 										Jio
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Amazon">
 										Amazon
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="IBM">
 										IBM
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Reliance Retail">
 										Reliance Retail
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="HDB Financial Services">
 										HDB Financial Services
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Larsen &amp; Toubro Limited">
 										Larsen &amp; Toubro Limited
 									</h2>,
 <h2 class="main-title body-medium">
 			Companies by  Industry
 		</h2>,
 <h2 class="main-title body-medium">
 			Companies by  Locations
 		</h2>,
 <h2 class="main-title body-medium">
 			Companies by  Type
 		</h2>,
 <h2 class="main-title body-medium">
 			Companies by  Badges
 		</h2>]

In [8]:
for i in soup.find_all('h2'):
  #print(i.text)
   print(i.text.strip())  # sttrip is used to remove for gaping due to speacial charcters like spaces and slashes

TCS
Accenture
Cognizant
Wipro
Capgemini
HDFC Bank
ICICI Bank
Infosys
HCLTech
Tech Mahindra
Genpact
Axis Bank
Teleperformance
Concentrix Corporation
Jio
Amazon
IBM
Reliance Retail
HDB Financial Services
Larsen & Toubro Limited
Companies by  Industry
Companies by  Locations
Companies by  Type
Companies by  Badges

In [9]:
'''for i in soup.find_all('div'):   # div tag is used for all raitng ,reviews ,type etc so cant differntiate
  print(i.text.strip())'''

"for i in soup.find_all('div'):   # div tag is used for all raitng ,reviews ,type etc so cant differntiate\n  print(i.text.strip())"

In [10]:
len(soup.find_all('div',class_="companyCardWrapper__companyRatingWrapper"))

20

In [11]:
len(soup.find_all('a' , class_='companyCardWrapper__ActionWrapper'))

120

In [12]:
company=soup.find_all('span',class_='companyCardWrapper__interLinking')
company[1].text.strip()

'IT Services & Consulting | 1 Lakh+ Employees | Public | 35 years old | Dublin +175 more'

In [13]:
prop= soup.find_all('a' , class_='companyCardWrapper__ActionWrapper')

In [14]:
len(prop)

120

In [15]:
com= soup.find_all('div',class_='companyCardWrapper')

In [16]:
len(com)

20

In [17]:
com[0].find_all('a' , class_='companyCardWrapper__ActionWrapper')[1].text.strip()

'846.8k Salaries'

In [18]:
com[0].find_all('span',class_='companyCardWrapper__interLinking')

# if we can seprate type , employees ,public,old,head_quarter then use:
#com[0].find_all('span',class_='companyCardWrapper__interLinking')[0].text.strip()

[<span class="companyCardWrapper__interLinking">
 									IT Services &amp; Consulting | 1 Lakh+ Employees | Public | 56 years old | Mumbai +342 more
 								</span>]

In [19]:
name=[]
rating=[]
comp_type=[]
reviews=[]
salaries=[]
interviews=[]
jobs=[]
benefits=[]
photos=[]
comp_type=[]

for i in com:
    #print(i.find('h2'))
    #print(i.find('h2').text.strip())
    
  name.append(i.find('h2').text.strip())
    
  rating.append(i.find_all('div',class_='companyCardWrapper__companyRatingWrapper')[0].text.strip())
    
  comp_type.append(i.find('span',class_='companyCardWrapper__interLinking').text.strip())
  
  reviews.append(i.find_all('a' , class_='companyCardWrapper__ActionWrapper')[0].text.strip())  
    
  salaries.append(i.find_all('a',class_= 'companyCardWrapper__ActionWrapper')[1].text.strip())
    
  interviews.append(i.find_all('a',class_= 'companyCardWrapper__ActionWrapper')[2].text.strip())

  jobs.append(i.find_all('a',class_= 'companyCardWrapper__ActionWrapper')[3].text.strip())
  
  benefits.append(i.find_all('a',class_= 'companyCardWrapper__ActionWrapper')[4].text.strip())

  photos.append(i.find_all('a',class_= 'companyCardWrapper__ActionWrapper')[5].text.strip())
    
    
d=pd.DataFrame({'name':name,
   'rating':rating,
   'company_type':comp_type,
   'reviews':reviews,
   'salary':salaries,
   'interview':interviews,
   'jobs':jobs,
   'benefits':benefits,
   'photos':photos,
                 
   }) 
df=pd.DataFrame(d)

In [20]:
name

['TCS',
 'Accenture',
 'Cognizant',
 'Wipro',
 'Capgemini',
 'HDFC Bank',
 'ICICI Bank',
 'Infosys',
 'HCLTech',
 'Tech Mahindra',
 'Genpact',
 'Axis Bank',
 'Teleperformance',
 'Concentrix Corporation',
 'Jio',
 'Amazon',
 'IBM',
 'Reliance Retail',
 'HDB Financial Services',
 'Larsen & Toubro Limited']

In [21]:
rating

['3.8',
 '4.0',
 '3.9',
 '3.8',
 '3.9',
 '4.0',
 '4.0',
 '3.8',
 '3.7',
 '3.7',
 '3.9',
 '3.9',
 '3.6',
 '3.9',
 '4.0',
 '4.1',
 '4.1',
 '4.0',
 '4.0',
 '4.1']

In [22]:
reviews

['73.8k Reviews',
 '46.8k Reviews',
 '42.2k Reviews',
 '39.6k Reviews',
 '34.3k Reviews',
 '34.3k Reviews',
 '33.8k Reviews',
 '32.1k Reviews',
 '28.9k Reviews',
 '27.9k Reviews',
 '26.5k Reviews',
 '22.2k Reviews',
 '22.2k Reviews',
 '22k Reviews',
 '20.8k Reviews',
 '20.7k Reviews',
 '19.9k Reviews',
 '19k Reviews',
 '18.3k Reviews',
 '16.8k Reviews']

In [23]:
salaries

['846.8k Salaries',
 '580.6k Salaries',
 '555.4k Salaries',
 '422.1k Salaries',
 '412.6k Salaries',
 '131.2k Salaries',
 '140.6k Salaries',
 '456.6k Salaries',
 '292.6k Salaries',
 '249.2k Salaries',
 '186.4k Salaries',
 '97.2k Salaries',
 '83.6k Salaries',
 '105.5k Salaries',
 '65.8k Salaries',
 '121.2k Salaries',
 '217.2k Salaries',
 '60k Salaries',
 '49.5k Salaries',
 '78.9k Salaries']

In [24]:
interviews

['6.5k Interviews',
 '4.6k Interviews',
 '3.8k Interviews',
 '3.8k Interviews',
 '3k Interviews',
 '1.6k Interviews',
 '1.9k Interviews',
 '5k Interviews',
 '2.6k Interviews',
 '2.5k Interviews',
 '2k Interviews',
 '1.1k Interviews',
 '1.3k Interviews',
 '1.1k Interviews',
 '1.2k Interviews',
 '3.5k Interviews',
 '1.6k Interviews',
 '1.2k Interviews',
 '607 Interviews',
 '1.1k Interviews']

In [25]:
jobs

['981 Jobs',
 '26.7k Jobs',
 '387 Jobs',
 '229 Jobs',
 '662 Jobs',
 '217 Jobs',
 '55 Jobs',
 '963 Jobs',
 '281 Jobs',
 '1k Jobs',
 '630 Jobs',
 '172 Jobs',
 '391 Jobs',
 '84 Jobs',
 '138 Jobs',
 '204 Jobs',
 '2.9k Jobs',
 '155 Jobs',
 '112 Jobs',
 '156 Jobs']

In [26]:
benefits

['11.6k Benefits',
 '7.2k Benefits',
 '5.9k Benefits',
 '5k Benefits',
 '4k Benefits',
 '3.3k Benefits',
 '3.8k Benefits',
 '5.2k Benefits',
 '4.1k Benefits',
 '3.6k Benefits',
 '3.7k Benefits',
 '2.2k Benefits',
 '2k Benefits',
 '3.3k Benefits',
 '2.6k Benefits',
 '4.2k Benefits',
 '2.7k Benefits',
 '2k Benefits',
 '1.5k Benefits',
 '2.9k Benefits']

In [27]:
photos

['77 Photos',
 '39 Photos',
 '63 Photos',
 '79 Photos',
 '32 Photos',
 '4 Photos',
 '48 Photos',
 '85 Photos',
 '35 Photos',
 '42 Photos',
 '36 Photos',
 '45 Photos',
 '29 Photos',
 '33 Photos',
 '43 Photos',
 '53 Photos',
 '20 Photos',
 '101 Photos',
 '32 Photos',
 '32 Photos']

In [28]:
comp_type

['IT Services & Consulting | 1 Lakh+ Employees | Public | 56 years old | Mumbai +342 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Public | 35 years old | Dublin +175 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Forbes Global 2000 | 30 years old | Teaneck. New Jersey. +159 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Public | 79 years old | Bangalore/Bengaluru +276 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Public | 57 years old | Paris +140 more',
 'Banking | 1 Lakh+ Employees | Public | 30 years old | Mumbai +1540 more',
 'Banking | 1 Lakh+ Employees | Public | 30 years old | Mumbai +1283 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Public | 43 years old | Bengaluru/Bangalore +181 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Public | 33 years old | Noida +183 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Public | 38 years old | Pune +264 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Public | 27 years old | New York +110 more',
 'Banking | 50k-1 Lakh Employees | Public | 31 years old | Mumbai +1298 more',
 'BPO | 50k-1 Lakh Employees | Forbes Global 2000 | 46 years old | Paris +183 more',
 'BPO | 50k-1 Lakh Employees | Public | 41 years old | Fremont +115 more',
 'Telecom | 50k-1 Lakh Employees | Public | 17 years old | Navi Mumbai +1171 more',
 'Internet | 1 Lakh+ Employees | Public | 30 years old | Seattle +440 more',
 'IT Services & Consulting | 1 Lakh+ Employees | Public | 113 years old | Armonk +145 more',
 'Retail | 1 Lakh+ Employees | 18 years old | Navi Mumbai +995 more',
 'NBFC | 1 Lakh+ Employees | 17 years old | Ahmedabad +947 more',
 'Engineering & Construction | 10k-50k Employees | Public | 86 years old | Mumbai +621 more']

In [29]:
df

,name,rating,company_type,reviews,salary,interview,jobs,benefits,photos
0,TCS,3.8,IT Services & Consulting | 1 Lakh+ Employees |...,73.8k Reviews,846.8k Salaries,6.5k Interviews,981 Jobs,11.6k Benefits,77 Photos
1,Accenture,4.0,IT Services & Consulting | 1 Lakh+ Employees |...,46.8k Reviews,580.6k Salaries,4.6k Interviews,26.7k Jobs,7.2k Benefits,39 Photos
2,Cognizant,3.9,IT Services & Consulting | 1 Lakh+ Employees |...,42.2k Reviews,555.4k Salaries,3.8k Interviews,387 Jobs,5.9k Benefits,63 Photos
3,Wipro,3.8,IT Services & Consulting | 1 Lakh+ Employees |...,39.6k Reviews,422.1k Salaries,3.8k Interviews,229 Jobs,5k Benefits,79 Photos
4,Capgemini,3.9,IT Services & Consulting | 1 Lakh+ Employees |...,34.3k Reviews,412.6k Salaries,3k Interviews,662 Jobs,4k Benefits,32 Photos
5,HDFC Bank,4.0,Banking | 1 Lakh+ Employees | Public | 30 year...,34.3k Reviews,131.2k Salaries,1.6k Interviews,217 Jobs,3.3k Benefits,4 Photos
6,ICICI Bank,4.0,Banking | 1 Lakh+ Employees | Public | 30 year...,33.8k Reviews,140.6k Salaries,1.9k Interviews,55 Jobs,3.8k Benefits,48 Photos
7,Infosys,3.8,IT Services & Consulting | 1 Lakh+ Employees |...,32.1k Reviews,456.6k Salaries,5k Interviews,963 Jobs,5.2k Benefits,85 Photos
8,HCLTech,3.7,IT Services & Consulting | 1 Lakh+ Employees |...,28.9k Reviews,292.6k Salaries,2.6k Interviews,281 Jobs,4.1k Benefits,35 Photos
9,Tech Mahindra,3.7,IT Services & Consulting | 1 Lakh+ Employees |...,27.9k Reviews,249.2k Salaries,2.5k Interviews,1k Jobs,3.6k Benefits,42 Photos
10,Genpact,3.9,IT Services & Consulting | 1 Lakh+ Employees |...,26.5k Reviews,186.4k Salaries,2k Interviews,630 Jobs,3.7k Benefits,36 Photos
11,Axis Bank,3.9,Banking | 50k-1 Lakh Employees | Public | 31 y...,22.2k Reviews,97.2k Salaries,1.1k Interviews,172 Jobs,2.2k Benefits,45 Photos
12,Teleperformance,3.6,BPO | 50k-1 Lakh Employees | Forbes Global 200...,22.2k Reviews,83.6k Salaries,1.3k Interviews,391 Jobs,2k Benefits,29 Photos
13,Concentrix Corporation,3.9,BPO | 50k-1 Lakh Employees | Public | 41 years...,22k Reviews,105.5k Salaries,1.1k Interviews,84 Jobs,3.3k Benefits,33 Photos
14,Jio,4.0,Telecom | 50k-1 Lakh Employees | Public | 17 y...,20.8k Reviews,65.8k Salaries,1.2k Interviews,138 Jobs,2.6k Benefits,43 Photos
15,Amazon,4.1,Internet | 1 Lakh+ Employees | Public | 30 yea...,20.7k Reviews,121.2k Salaries,3.5k Interviews,204 Jobs,4.2k Benefits,53 Photos
16,IBM,4.1,IT Services & Consulting | 1 Lakh+ Employees |...,19.9k Reviews,217.2k Salaries,1.6k Interviews,2.9k Jobs,2.7k Benefits,20 Photos
17,Reliance Retail,4.0,Retail | 1 Lakh+ Employees | 18 years old | Na...,19k Reviews,60k Salaries,1.2k Interviews,155 Jobs,2k Benefits,101 Photos
18,HDB Financial Services,4.0,NBFC | 1 Lakh+ Employees | 17 years old | Ahme...,18.3k Reviews,49.5k Salaries,607 Interviews,112 Jobs,1.5k Benefits,32 Photos
19,Larsen & Toubro Limited,4.1,Engineering & Construction | 10k-50k Employees...,16.8k Reviews,78.9k Salaries,1.1k Interviews,156 Jobs,2.9k Benefits,32 Photos

In [30]:
df.shape

(20, 9)

In [31]:
rating=[]
comp_type=[]
reviews=[]
salaries=[]
interviews=[]
jobs=[]
benefits=[]
photos=[]
comp_type=[]

for i in com:
    #print(i.find('h2'))
    #print(i.find('h2').text.strip())
    
  name.append(i.find('h2').text.strip())
    
  rating.append(i.find_all('div',class_='companyCardWrapper__companyRatingWrapper')[0].text.strip())
    
  comp_type.append(i.find_all('span',class_='companyCardWrapper__interLinking'))
  
  reviews.append(i.find_all('a' , class_='companyCardWrapper__ActionWrapper')[0].text.strip())  
    
  salaries.append(i.find_all('a',class_= 'companyCardWrapper__ActionWrapper')[1].text.strip())
    
  interviews.append(i.find_all('a',class_= 'companyCardWrapper__ActionWrapper')[2].text.strip())

  jobs.append(i.find_all('a',class_= 'companyCardWrapper__ActionWrapper')[3].text.strip())
  
  benefits.append(i.find_all('a',class_= 'companyCardWrapper__ActionWrapper')[4].text.strip())

  photos.append(i.find_all('a',class_= 'companyCardWrapper__ActionWrapper')[5].text.strip())

In [54]:
final=pd.DataFrame()
for j in range(1,5):
  webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page={}'.format(j)).text
  soup=BeautifulSoup(webpage,'lxml')
  com=  soup.find_all('div',class_='companyCardWrapper')
  name=[]
  rating=[]
  comp_type=[]
  reviews=[]
  salaries=[]
  interviews=[]
  jobs=[]
  benefits=[]
  photos=[]
  comp_type=[]  

  for i in com:
      try:
          name.append(i.find('h2').text.strip())
      except:
          name.append(np.nan)
      try:
          rating.append(i.find_all('div',class_='companyCardWrapper__companyRatingWrapper')[0].text.strip())
      except:
          rating.append(np.nan)
     
      try:
          comp_type.append(i.find('span',class_='companyCardWrapper__interLinking').text.strip())
      except:
          comp_type.append(np.nan)

      try:
           reviews.append(i.find_all('a' , class_='companyCardWrapper__ActionWrapper')[0].text.strip())  
      except:
          reviews.append(np.nan)
          
      try:
          salaries.append(i.find_all('a',class_= 'companyCardWrapper__ActionWrapper')[1].text.strip())
      except:
          salaries.append(np.nan)

      try:
          interviews.append(i.find_all('a',class_= 'companyCardWrapper__ActionWrapper')[2].text.strip())
      except:
          interviews.append(np.nan)

       try:
          jobs.append(i.find_all('a',class_= 'companyCardWrapper__ActionWrapper')[3].text.strip())
       except:
            jobs.append(np.nan)
        
       try:
            benefits.append(i.find_all('a',class_= 'companyCardWrapper__ActionWrapper')[4].text.strip())
       except:
             benefits.append(np.nan)
    

           
          
          
   df=pd.DataFrame({'name':name,
   'rating':rating,
   'company_type':comp_type,
   'reviews':reviews,
   'salary':salaries,
   'interview':interviews,
   'jobs':jobs,
   'benefits':benefits,
   'photos':photos,
                 
   }) 

final=final.append(df,ignore_index=True)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 47)

In [33]:
df.sample(5)

ValueError: a must be greater than 0 unless no samples are taken